.button {
    height: 4em;
    width: 4em;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex: 1;
    margin: 2%;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.hover{
    outline: 10px solid  #000000;
    font-style: italic;
}
.standard {

    background-color: bisque;
    color: cornflowerblue;
    outline: 2px solid cornflowerblue;

}

.functional {
    background-color: cornflowerblue;
    color: bisque;
    outline: 2px solid #000000;
}

.clear{
    height: 4em;
    width: 8em;
    min-width: 100px;
    min-height: 50px;
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    outline: 2px solid #000000;
}

.hover{
    outline: 3px solid  #000000;
    font-style: italic;
}